.CoinList {
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
}

.CoinPrice {
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 70% 30%;
}

.CoinPrice > .left {
  grid-area: left;
  border-right: 1px solid black;
}

.CoinPrice > .right {
  grid-area: right;
}
