.CoinList {
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
}

.CoinPrice {
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
}
