@import url("balance.css");
@import url("footer.css");
@import url("index.css");
@import url("layout.css");
@import url("leaderboard.css");
@import url("navbar.css");

#info-log {
  background-color: rgb(7, 5, 54);
  margin-top: 20vh;
  min-height: 40vh;
}
