@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  margin: 0;
}

.index-wrapper {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 25vw 75vw;
  background-color: #282a36;
  color: #f5b445;
  font-family: "Nunito";
}

.index-left {
  grid-area: left;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.index-right {
  grid-area: right;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 85% 15%;
}

.index-left-row-1 {
  grid-row-start: 1;
}

.index-left-row-2 {
  grid-row-start: 2;
}
.index-left-row-3 {
  grid-row-start: 3;
}

.index-right-col-left {
  grid-area: left;
}
