.index-wrapper {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 25vw 75vw;
  background-color: #282a36;
  color: #e1ec98;
  font-family: "Nunito";
}

.index-left {
  grid-area: left;
  background-color: red;
}

.index-right {
  grid-column: right;
  background-color: blue;
}
.LeaderBoard {
  border: 1px solid #eaeaea;
  padding: 30px;
}
