div .content {
  overflow: hidden;
  height: 100vh;
}

div .layout-wrapper {
  background-color: #282a36;
  color: #f5b445;
  font-family: "Nunito";
  display: flex;
  flex-direction: column;
  font-size: large;
}

div .layout-row-1 {
  height: 20%;
  order: 1;
}

div .layout-row-2 {
  order: 2;
  height: 80%;
}
