div .layout-body {
  background-color: #282a36;
  color: #e1ec98;
  font-family: "Nunito";
}

div .layout-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    "nav"
    "main";
}

div .layout-row-1 {
  grid-area: nav;
}

div .layout-row-2 {
  grid-area: main;
}
