div .layout-wrapper {
  background-color: #282a36;
  color: #f5b445;
  font-family: "Nunito";
  display: grid;
  grid-template-rows: 20% 80%;
}

div .layout-row-1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

div .layout-row-2 {
  grid-row-start: 2;
  grid-row-end: 3;
}
