.UserLeaderBoard {
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: 2px;
}

.LeaderBoard {
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: 10px;
  padding: 30px;
}
