.UserLeaderBoard {
  text-align: center;
  border: 1px solid #9e9a9a;
  border-radius: 8px;
  margin: 2px;
}

.LeaderBoard {
  border: 1px solid #9e9a9a;
  border-radius: 8px;
  margin: 10px;
  padding: 30px;
}
