nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}

nav a {
  color: #3bb54a;
  margin: 5px;
  text-decoration: none;
}

.nav-logo {
  margin-right: 10px;
  margin-left: 10px;
}

.nav-title {
  text-decoration: none;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
