.sell {
  border: 2px solid var(--red);
  background-color: #282a36;
  color: var(--red);
  border-radius: 15px;
  padding: 5px;
  font-size: x-large;
  margin: 10px;
  cursor: pointer;
  width: 75%;
}
