.wallet-body {
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: 10px;
  padding: 30px;
}

.wallet-layout-row-2 {
  text-align: center;
}

.coin-card {
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: 2px;
}
