.wallet-body {
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: 2%;
  padding: 5%;
}

.wallet-layout-row-2 {
  text-align: center;
}

.coin-card {
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin: 2%;
  padding: 1%;
  text-transform: uppercase;
}
