
.wallet-body {
    text-align: center;
    border: 3px solid salmon;
    border-radius: 8px;
    margin: 5px;
}


.wallet-layout-row-1 {
    text-align: center;
    font-style: italic;
    border: 1px solid yellow;
}


.wallet-layout-row-2 {
    text-align: center;
}

